<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Better Tea</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesoeet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

</head>
<body>
	<!-- header section start-->
	<nav className="navbar navbar-expand-lg navbar-light bg-light">
        <a className="logo" href="#"><img src="images/logo.png"></a>
        <button className="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span className="navbar-toggler-icon"></span>
        </button>
        <div className="collapse navbar-collapse" id="navbarNav">
            <ul className="navbar-nav">
                <li className="nav-item">
                   <a className="nav-link" href="index.html">HOME</a>
                </li>
                <li className="nav-item">
                   <a className="nav-link" href="search jobs.html">SEARCH JOBS</a>
                </li>
                <li className="nav-item">
                   <a className="nav-link" href="recurments.html">RECRUITERS</a>
                </li>
                <li className="nav-item">
                   <a className="nav-link" href="companies.html">COMPANIES</a>
                </li>
                <li className="nav-item">
                   <a className="nav-link" href="services.html">SERVICES</a>
                </li>
                <li className="nav-item">
                   <a className="nav-link" href="#">MORE</a>
                </li>
            </ul>
        </div>
         <div className="login_text"><a href="login.html">LOGIN HERE</a></div>
    </nav>
	<!-- companies  section start-->
  <div className="services_section">
    <div className="container">
      <h1 className="services_text">COMPANIES</h1>
    </div>
  </div>
  <div className="companies_section layout_padding">
    <div className="container">
      <h1 className="companies_text">Find Your Company</h1>
      <div className="images_main ">
          <h2 id="demo03"></h2>
          <div className="hover03 column">
              <div>
                  <figure><img src="images/img-1.png"></figure>
                  <span>Marketing jobs</span>
              </div>
              <div>
                  <figure><img src="images/img-2.png"></figure>
                  <span>Industrial jobs</span>
              </div>
              <div>
                  <figure><img src="images/img-3.png"></figure>
                  <span>Corporate jobs</span>
              </div>
              <div>
                  <figure><img src="images/img-1.png"></figure>
                  <span>Marketing jobs</span>
              </div>
          </div>

          <h2 id="demo03"></h2>
          <div className="hover03 column">
              <div>
                  <figure><img src="images/img-4.png"></figure>
                  <span>Government jobs</span>
              </div>
              <div>
                  <figure><img src="images/img-1.png"></figure>
                  <span>Marketing jobs</span>
              </div>
              <div>
                  <figure><img src="images/img-2.png"></figure>
                  <span>Industrial jobs</span>
              </div>
              <div>
                  <figure><img src="images/img-4.png"></figure>
                  <span>Government jobs</span>
              </div>
          </div>
    </div>
  </div>
  <!-- footer section start-->
  <div className="footer_section layout_padding">
    <div className="container">
      <h1 className="subscribr_text">Subscribe Now</h1>
      <p className="lorem_text">There are many variations of passages of Lorem Ipsum available, but the majority have </p>
      <div className="box_main_2">
          <textarea type="" className="email_bt_2" placeholder="Enter Your Email" name=""></textarea>
        </div>
        <button className="subscribe_bt_2"><a href="#">Subscribe</a></button>
    </div>
  </div>
  <!-- footer section end-->
  <!-- copyright section start-->
  <div className="copyright_section">
    <div className="container">
      <div className="row">
        <div className="col-md-6">
          <p className="copyright_text">Copyright 2020 All Right Reserved By.<a href="https://html.design"> Free  html Templates</a></p>
        </div>
        <div className="col-md-6">
          <p className="cookies_text">Cookies, Privacy and Terms</p>
        </div>
      </div>
    </div>
  </div>
  <!-- copyright section end-->


    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
      $(document).ready(function(){
      $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         </script>


     
</body>
</html>